@import '~scss_mixins';
@import '~scss_vars';

.head-liner {
  // > xl
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 50px 5% 0;

  .text {
    .name {
      // font-family: HelveticaNeue-Bold;
      font-size: .60rem;
      color: $brand-color;
      letter-spacing: 0;
      line-height: 74px;
      margin-bottom: 12px;
    }

    .break-line {
      width: 60px;
      height: 6px;
      background: $brand-color-lighter;
      margin-bottom: 21px;
    }

    .title {
      // font-family: PingFangSC-Regular;
      font-size: .30rem;
      color: $brand-color;
      letter-spacing: 0;
      line-height: 58px;
      margin-bottom: 14px;

      display: flex;

      .title-button {
        align-self: center;
        margin: 22px 0px 0px 100px;
      }
    }

    .sub-title {
      // font-family: PingFangSC-Regular;
      font-size: .15rem;
      color: $text-dark;
      letter-spacing: 0;
      line-height: 30px;
    }
  }
  .head-image {
    width: 447px;
    height: 269px;

  }
  @include privat-respond-to('lg') {
    // <= xl
  }
  @include privat-respond-to('md') {
    // <= lg
    flex-flow: column nowrap;
    justify-content: flex-start;
    align-items: center;
  }
  @include privat-respond-to('sm') {
    // <= md
  }
  @include privat-respond-to('xs') {
    // <= sm
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 15px 5% 0;

    .text {
      .name {
        // font-family: HelveticaNeue-Bold;
        font-weight: 900;
        font-size: .40rem;
        color: $brand-color;
        letter-spacing: 0;
        margin-bottom: -10px;
      }

      .break-line {
        width: 60px;
        height: 6px;
        background: $brand-color-lighter;
        margin-bottom: 21px;
      }

      .title {
        // font-family: PingFangSC-Regular;
        font-size: .20rem;
        color: $brand-color;
        letter-spacing: 0;
        line-height: 30px;
        margin-bottom: 0;
        .title-button {
          margin: 0 0 0 90px;
        }
      }

      .sub-title {
        // font-family: PingFangSC-Regular;
        font-size: .16rem;
        color: $text-dark;
        letter-spacing: 0;
        line-height: 30px;
      }
    }
    .head-image {
      width: 320px;
      height: 190px;
    }
  }
}
