@import '~scss_mixins';
@import '~scss_vars';

.header {
  // to add your style //Extra large screen / wide desktop
  background-color: $black;
  @include privat-respond-to('only-lg') {
    // Large screen / desktop
    background-color: $black;
  }

  @include privat-respond-to('only-md') {
    // Medium screen / tablet
    background-color: $gray-dark1;
  }

  @include privat-respond-to('only-sm') {
    // Small screen / phone
    background-color: $brand-color;
  }

}
