* {
  box-sizing: border-box;
}

.spacer {
  flex-grow: 1;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.show {
  display: block !important;
}

.hidden {
  display: none !important;
}

.clearfloat::after{
  display:block;
  clear:both;
  content:"";
  visibility:hidden;
  height:0;
}
