@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
  font-weight: 300;
}

*:not(.glyphicon, .fa) {
  font-family: 'Roboto', 'Microsoft YaHei', sans-serif !important;
}

*.font-black {
  font-weight: 800;
  font-style: normal;
}

*.font-bold {
  font-weight: 700;
  font-style: normal;
}

*.font-medium {
  font-weight: 500;
  font-style: normal;
}

*.font-regular {
  font-weight: 400;
  font-style: normal;
}

*.font-light {
  font-weight: 300;
  font-style: normal;
}

*.font-thin {
  font-weight: 100;
  font-style: normal;
}

h1 {
  font-size: 36px;
}
h2 {
  font-size: 28px;
}
h3 {
  font-size: 26px;
}
h4 {
  font-size: 24px;
}
h5 {
  font-size: 20px;
}
h6 {
  font-size: 16px;
}
