@import './base.scss';
@import './font.scss';

#print-area {
  display: none;
}

.page-wrap {
  margin: auto;
  width: 980px;
  padding: 0 15px;
}

.page-container {
  @extend .page-wrap ;
  padding-top: 80px;
  min-height: 620px;
}
