// File with all scss variables. Import it in your .scss file as "~scss_vars"
@import './mixins.scss';
@import './colors.scss';

// type
$primary: $indigo500;
$primary-active: $indigo700;
$primary-hover: $indigo300;
$danger: $red500;
$danger-active: $red700;
$danger-hover: $red300;
$disabled: $grey500;
$disabled-active: $grey700;
$disabled-hover: $grey300;
$warning: $orange500;
$warning-active: $orange700;
$warning-hover: $orange300;

//brand
$brand-color: $indigo700;

//text
$text-black: $black;
$text-white: $white;

//background
$background-white: $white;
$background-black: $black;
$background-grey: $grey500;
$background-brand-color: $brand-color;

//border
$border-white: $grey100;
