@import '~scss_mixins';
@import '~scss_vars';

.footer {
  height: 144px;
  .ant-layout-footer {
    padding: 0;
  }

  // to add your style //Extra large screen / wide desktop
  width: 100%;
  background-color: rgb(60, 62, 145);
  .footer-content{
    margin: 0 auto;
    color: $white;
    width: 100%;
    .MessageWrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        // flex-flow: column-reverse nowrap;
        .logo {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 20px;
        }
        .message {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          .contact {
            display: flex;
            flex-flow: column nowrap;
            text-align: left;
            align-items: flex-start;
            font-size: 12rem;
          }
          .copyright {
            margin: 20px 0px 0px;
            font-size: 12rem;
            white-space: nowrap;
          }
          // align-items: center;
        }
      }
  }
  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
  }
}
