@import '~scss_mixins';
@import '~scss_vars';

.footer {
  // > xl
  width: 100%;
  height: 144px;
  background-color: rgb(60, 62, 145);

  .ant-layout-footer {
    padding: 0;
  }

  .footer-content{
    margin: 0 auto;
    color: $white;
    width: 100%;

    .message-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
      }
      .message {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        .contact {
          display: flex;
          flex-flow: column nowrap;
          text-align: left;
          align-items: flex-start;
          font-size: 12rem;
        }
        .copyright {
          margin: 20px 0px 0px;
          font-size: 12rem;
          white-space: nowrap;
        }
      }
    }
  }
  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
  }
}
