@import '~scss_mixins';
@import '~scss_vars';

.login-form {
  // > xl
  & > .ant-form-item {
    margin-bottom: 0;
  }

  .btn-login {
    display: block;
    margin: 24px 0;
    width: 100%;
  }

  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
  }

}
