@import '~scss_mixins';
@import '~scss_vars';

.primaryButton {
  // to add your style //Extra large screen / wide desktop
  border: none;
  width: 320px;
  height: 50px;
  background-color: rgb(252,121,80);
  @include privat-respond-to('only-lg') {
    // Large screen / desktop
  }

  @include privat-respond-to('only-md') {
    // Medium screen / tablet
  }

  @include privat-respond-to('only-sm') {
    // Small screen / phone
  }

}
