@import "~scss_vars";

.loader {
  position: fixed;
  top: 0;
  bottom: 0px;
  left: 0px;
  right: 0px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  opacity: 0.6;
  background-color: $brand-color-lighter;

  .loader-text {
    color: $brand-color;
    text-align: center;
  }
  .loader-img-hide {
    display: none;
  }
  .loader-image {
    height: 10%;
  }
}
