@import '~scss_mixins';
@import '~scss_vars';

.sign-up-form {
  // > xl

  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
    & > div.ant-row:first-child {
      margin-bottom: 0;
    }
    .ant-form-item {
      margin-bottom: 18px;
    }
    .btn-submit {
      margin-bottom: 20px;
    }
  }

  @include privat-respond-to('xs') {
    // <= sm
  }

}
