@import '~scss_mixins';
@import '~scss_vars';

.filter-component {
  // > xl
  .all-button {
    margin: 0 20px 0 0;
    background-color: transparent;
    color: $brand-color;
    font-weight: 900;
    letter-spacing: 2px;
  }

  .filter-button {
    margin: 10px 5px 0 0;
    width: 100px;
    span {
      text-align: left;
    }
  }

  .filter-button.selected {
    background-color: $brand100;
  }

  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
    .all-button {
      margin: 10px 10px 0 0;
      border: 1px solid $border-grey;
    }
    .filter-button {
      margin: 10px 10px 0 0;
      border: 1px solid $border-grey;
      width: auto;
    }
  }
}
