@import '~scss_mixins';
@import '~scss_vars';

.login-layout {
  // > xl
  width: 400px;

  .login-tabs {
    margin: 0 auto;
    border-radius: 4px;
    overflow: hidden;
    background-color: $background-white;
  }

  .ant-tabs-nav {
    width: 100%;
    padding: 0;
    text-align: center;
    margin: 0 auto;
  }

  .ant-tabs-ink-bar {
    display: none;
  }
  .ant-tabs-bar {
    margin-bottom: 24px;
  }

  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab {
    border-width: 0 1px 0 0;
    margin-right: 0;
    box-sizing: border-box;
    width: 50%;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab:last-of-type {
    border-right: 0;
  }
  .ant-tabs.ant-tabs-card > .ant-tabs-bar .ant-tabs-tab-active {
    padding-bottom: 2px;
    color: $brand-color;
  }

  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
    width: 100%;
    .login-tabs {
      width: 90%;
    }
  }
}
