@import '~scss_mixins';
@import '~scss_vars';

.header-menu {
  // > xl
  background-color: transparent;
  .ant-menu {
    border: 0;
  }

  .ant-btn-transparent {
    border-width: 0;
  }

  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
  }
}
