@import '~scss_mixins';
@import '~scss_vars';

.header-menu {
  // > xl

  .ant-menu {
    border: 0;
    background-color: transparent;
  }

  .ant-menu-item {
    padding: 0;
    border-bottom: 0;
    transition-duration: 0s;
    &:focus {
      outline: 0;
    }
    &:hover {
      border-bottom: 0;
    }
  }

  .ant-btn-transparent {
    border-width: 0;
    background-color: transparent;
    &:hover {
      color: $brand-color;
    }
  }

  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
  }
}
