@import '~scss_mixins';
@import '~scss_vars';

.header-menu {
  // > xl

  .ant-menu {
    border: 0;
    background-color: $background-white;
  }
  .ant-menu-horizontal{
    line-height: 1;
  }

  .ant-menu-item {
    padding: 0;
    border-bottom: 0;
    &:focus {
      outline: 0;
    }
    &:hover {
      border-bottom: 0;
    }
  }

  .ant-btn-transparent {
    border-width: 0;
    color: $text-black;
    background-color: transparent;
    &:hover {
      color: $brand-color;
    }
  }

  .ant-menu-item,
  .ant-menu-vertical .ant-menu-item:not(:last-child),
  .ant-menu-item .anticon,
  .ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
    margin: 0;
    background-color: $background-white;
    animation-duration: 0s;
    transition-duration: 0s;
    box-shadow: none;
  }


  @include privat-respond-to('lg') {
    // <= xl
  }

  @include privat-respond-to('md') {
    // <= lg
  }

  @include privat-respond-to('sm') {
    // <= md
  }

  @include privat-respond-to('xs') {
    // <= sm
  }
}
